doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  link(rel='stylesheet' href='css/Iconsmind__Ultimate_Pack.css')
  // iconsmind.com Icons
  title #{title} - #{page}
#sidebar-bg
  header#videohead-pro.sticky-header
    #video-logo-background
      a(href='/')
        img(src='http://progression-studios.com/skrn/images/logo-video-layout.png' alt='Logo')
    #video-search-header
      #search-icon-more
      input(type='text' placeholder='Search for Movies or TV Series' aria-label='Search')
      #video-search-header-filtering
        form#video-search-header-filtering-padding
          .row
            .col-sm.extra-padding
              h5 Type:
              .row
                .col-sm
                  label.checkbox-pro-container
                    | Movies
                    input#movies-type(type='checkbox' checked='checked')
                    span.checkmark-pro
                  label.checkbox-pro-container
                    | TV Series
                    input#tv-type(type='checkbox')
                    span.checkmark-pro
                // close .col
                .col
                  label.checkbox-pro-container
                    | New Arrivals
                    input#movie-type(type='checkbox')
                    span.checkmark-pro
                  label.checkbox-pro-container
                    | Documentary
                    input#documentary-type(type='checkbox')
                    span.checkmark-pro
                // close .col
              // close .row
              .dotted-dividers-pro
            // close .col
            .col-sm.extra-padding
              h5 Genres:
              select.custom-select
                option(selected='') All Genres
                option(value='1') Action
                option(value='2') Adventure
                option(value='3') Drama
                option(value='4') Animation
                option(value='5') Documentary
                option(value='6') Drama
                option(value='7') Horror
                option(value='8') Thriller
                option(value='9') Fantasy
                option(value='10') Romance
                option(value='11') Sci-Fi
                option(value='12') Western
              .dotted-dividers-pro
            // close .col
            .col-sm.extra-padding
              h5 Country:
              select.custom-select
                option(selected='') All Countries
                option(value='1') Argentina
                option(value='2') Australia
                option(value='3') Bahamas
                option(value='4') Belgium
                option(value='5') Brazil
                option(value='6') Canada
                option(value='7') Chile
                option(value='8') China
                option(value='9') Denmark
                option(value='10') Ecuador
                option(value='11') France
                option(value='12') Germany
                option(value='13') Greece
                option(value='14') Guatemala
                option(value='15') Italy
                option(value='16') Japan
                option(value='17') asdfasdf
                option(value='18') Korea
                option(value='19') Malaysia
                option(value='20') Monaco
                option(value='21') Morocco
                option(value='22') New Zealand
                option(value='23') Panama
                option(value='24') Portugal
                option(value='25') Russia
                option(value='26') United Kingdom
                option(value='27') United States
              .dotted-dividers-pro
            // close .col
            .col-sm.extra-padding.extra-range-padding
              h5 Average Rating:
              input.range-example-rating-input(type='text' min='0' max='10' value='4,10' step='1')
              // JS is under /js/script.jss
            // close .col
          // close .row
          #video-search-header-buttons
            a.btn.btn-green-pro(href='#!') Filter Search
            a.btn(href='#!') Reset
          // close #video-search-header-buttons
        // #video-search-header-filtering-padding
      // close #video-search-header-filtering
    // close .video-search-header
    #mobile-bars-icon-pro.noselect
      i.fas.fa-bars
    #header-user-profile
      #header-user-profile-click.noselect
        img(src='http://progression-studios.com/skrn/images/demo/user-profile.jpg' alt='Suzie')
        #header-username Suzie Smith
        i.fas.fa-angle-down
      // close #header-user-profile-click
      #header-user-profile-menu
        ul
          li
            a(href='dashboard-profile.html')
              span.icon-User
              | My Profile
          li
            a(href='dashboard-favorites.html')
              span.icon-Favorite-Window
              | My Favorites
          li
            a(href='dashboard-account.html')
              span.icon-Gears
              | Account Details
          li
            a(href='#!')
              span.icon-Life-Safer
              | Help/Support
          li
            a(href='index.html')
              span.icon-Power-3
              | Log Out
      // close #header-user-profile-menu
    // close #header-user-profile
    #header-user-notification
      #header-user-notification-click.noselect
        i.far.fa-bell
        span.user-notification-count 3
      // close #header-user-profile-click
      #header-user-notification-menu
        h3 Notifications
        #header-notification-menu-padding
          ul#header-user-notification-list
            li
              a(href='#!')
                img(src='http://progression-studios.com/skrn/images/demo/user-profile-2.jpg' alt='Profile')
                | Lorem ipsum dolor
                |                               sit amet, consec tetur adipiscing elit. 
                .header-user-notify-time
                  | 21
                  | hours ago
            li
              a(href='#!')
                img(src='http://progression-studios.com/skrn/images/demo/user-profile-3.jpg' alt='Profile')
                | Donec vitae lacus
                |                               id arcu molestie mollis. 
                .header-user-notify-time 3 days ago
            li
              a(href='#!')
                img(src='http://progression-studios.com/skrn/images/demo/user-profile-4.jpg' alt='Profile')
                | Aenean vitae
                |                               lectus non purus facilisis imperdiet. 
                .header-user-notify-time
                  | 5 days
                  | ago
          .clearfix
        // close #header-user-profile-menu
    // close #header-user-notification
    .clearfix
    nav#mobile-navigation-pro
      ul#mobile-menu-pro
        li.current-menu-item
          a(href='/')
            span.icon-Old-TV
            |                      TV Series
        li
        li
          a(href='/movies')
            span.icon-Reel
            |                      Movies
        li
          a(href='dashboard-playlists.html')
            span.icon-Movie
            |                      Playlists
        li
          a(href='dashboard-new-arrivals.html')
            span.icon-Movie-Ticket
            |                      New Arrivals
        li
          a(href='dashboard-coming-soon.html')
            span.icon-Clock
            |                      Coming Soon
        li
          a(href='#!')
            i.far.fa-bell
            span.user-notification-count 3
            |                      Notifications
      .clearfix
      #search-mobile-nav-pro
        input(type='text' placeholder='Search for Movies or TV Series' aria-label='Search')
  nav#sidebar-nav
    // Add class="sticky-sidebar-js" for auto-height sidebar
    ul#vertical-sidebar-nav.sf-menu
      li.normal-item-pro.current-menu-item
        a(href='/')
          span.icon-Old-TV
          |                   TV Series
      li.normal-item-pro
        a(href='/movies')
          span.icon-Reel
          |                   Movies
      li.normal-item-pro
        a(href='dashboard-playlists.html')
          span.icon-Movie
          |                   Playlists
      li.normal-item-pro
        a(href='dashboard-new-arrivals.html')
          span.icon-Movie-Ticket
          |                   New Arrivals
      li.normal-item-pro
        a(href='dashboard-coming-soon.html')
          span.icon-Clock
          |                   Coming Soon
    .clearfix
  main#col-main
    .flexslider.progression-studios-dashboard-slider
      ul.slides
        li.progression_studios_animate_left
          .progression-studios-slider-dashboard-image-background(style='background-image:url(images/dashboard-slide-1.jpg);')
            .progression-studios-slider-display-table
              .progression-studios-slider-vertical-align
                .container
                  a.progression-studios-slider-play-btn.afterglow(href='#VideoLightbox-1')
                    i.fas.fa-play
                  video#VideoLightbox-1(poster='http://progression-studios.com/files/View_From_A_Blue_Moon_Trailer-HD.jpg' width='960' height='540')
                    source(src='http://progression-studios.com/files/View_From_A_Blue_Moon_Trailer-576p.mp4' type='video/mp4')
                  .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='70' data-thickness='6' data-fill='{\
                  "color": "#42b740"\
                  }' data-empty-fill='#def6de' data-reverse='true')
                    span(style='color:#42b740;') 8.6
                  .progression-studios-slider-dashboard-caption-width
                    .progression-studios-slider-caption-align
                      h6 TV Series
                      ul.progression-studios-slider-rating
                        li PG-13
                        li HD
                      h2
                        a(href='dashboard-movie-profile.html') Seven Days in Ibiza
                      ul.progression-studios-slider-meta
                        li 15 August, 2016 (UK)
                        li 163 min.
                        li Documentary
                      p.progression-studios-slider-description
                        | A sex columnist,
                        | Carrie Bradshaw, and her three friends Samantha, Charlotte
                        | and Miranda explore Manhattan&apos;s dating scene, chronicling the
                        | mating habits of
                        | single New Yorkers.
                      a.btn.btn-green-pro.btn-slider-pro.btn-shadow-pro.afterglow(href='#VideoLightbox-1')
                        i.fas.fa-play
                        |  Watch Trailer
                      .progression-studios-slider-more-options
                        i.fas.fa-ellipsis-h
                        ul
                          li
                            a(href='#!') Add to Favorites
                          li
                            a(href='#!') Add to Watchlist
                          li
                            a(href='#!') Add to Playlist
                          li
                            a(href='#!') Share...
                          li
                            a(href='#!') Write A Review
                      .clearfix
                      h5 Starring
                      ul.progression-studios-staring-slider
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-1.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-2.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-3.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-4.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-5.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-6.jpg' alt='Starring')
                    // close .progression-studios-slider-caption-align
                  // close .progression-studios-slider-caption-width
                // close .container
              // close .progression-studios-slider-vertical-align
            // close .progression-studios-slider-display-table
            .progression-studios-slider-mobile-background-cover
          // close .progression-studios-slider-image-background
        li.progression_studios_animate_in
          .progression-studios-slider-dashboard-image-background(style='background-image:url(images/dashboard-slide-2.jpg);')
            .progression-studios-slider-display-table
              .progression-studios-slider-vertical-align
                .container
                  a.progression-studios-slider-play-btn.afterglow(href='#VideoLightbox-2')
                    i.fas.fa-play
                  video#VideoLightbox-2(poster='http://progression-studios.com/files/View_From_A_Blue_Moon_Trailer-HD.jpg' width='960' height='540')
                    source(src='http://progression-studios.com/files/View_From_A_Blue_Moon_Trailer-576p.mp4' type='video/mp4')
                  .circle-rating-pro(data-value='0.82' data-animation-start-value='0.82' data-size='70' data-thickness='6' data-fill='{\
                  "color": "#42b740"\
                  }' data-empty-fill='#203521' data-reverse='true')
                    span(style='color:#42b740;') 8.2
                  .progression-studios-slider-dashboard-caption-width
                    .progression-studios-slider-caption-align
                      h6.light-fonts-pro TV Series
                      ul.progression-studios-slider-rating
                        li PG-13
                        li HD
                      h2.light-fonts-pro
                        a(href='dashboard-movie-profile.html')
                          | Made
                          | In America
                      ul.progression-studios-slider-meta
                        li 15 August, 2016 (UK)
                        li 163 min.
                        li Documentary
                      p.progression-studios-slider-description.light-fonts-pro
                        | A sex
                        | columnist, Carrie Bradshaw, and her three friends Samantha,
                        | Charlotte
                        | and Miranda explore Manhattan&apos;s dating scene, chronicling the
                        | mating habits of
                        | single New Yorkers.
                      a.btn.btn-green-pro.btn-slider-pro.afterglow(href='#VideoLightbox-2')
                        i.fas.fa-play
                        |  Watch Trailer
                      .progression-studios-slider-more-options
                        i.fas.fa-ellipsis-h
                        ul
                          li
                            a(href='#!') Add to Favorites
                          li
                            a(href='#!') Add to Watchlist
                          li
                            a(href='#!') Add to Playlist
                          li
                            a(href='#!') Share...
                          li
                            a(href='#!') Write A Review
                      .clearfix
                      h5.light-fonts-pro Starring
                      ul.progression-studios-staring-slider
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-1.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-2.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-3.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-4.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-5.jpg' alt='Starring')
                        li
                          a(href='#!')
                            img(src='http://progression-studios.com/skrn/images/demo/user-6.jpg' alt='Starring')
                    // close .progression-studios-slider-caption-align
                  // close .progression-studios-slider-caption-width
                // close .container
              // close .progression-studios-slider-vertical-align
            // close .progression-studios-slider-display-table
            .progression-studios-slider-mobile-background-cover-dark
          // close .progression-studios-slider-image-background
    // close .progression-studios-slider - See /js/script.js file for options
    ul.dashboard-genres-pro
      li
        img(src='http://progression-studios.com/skrn/images/genres/drama.png' alt='Drama')
        h6 Drama
      li.active
        img(src='http://progression-studios.com/skrn/images/genres/comedy.png' alt='Comedy')
        h6 Comedy
      li
        img(src='http://progression-studios.com/skrn/images/genres/action.png' alt='Action')
        h6 Action
      li
        img(src='http://progression-studios.com/skrn/images/genres/romance.png' alt='Romance')
        h6 Romance
      li
        img(src='http://progression-studios.com/skrn/images/genres/horror.png' alt='Horror')
        h6 Horror
      li
        img(src='http://progression-studios.com/skrn/images/genres/fantasy.png' alt='Fantasy')
        h6 Fantasy
      li
        img(src='http://progression-studios.com/skrn/images/genres/sci-fi.png' alt='Sci-Fi')
        h6 Sci-Fi
      li
        img(src='http://progression-studios.com/skrn/images/genres/thriller.png' alt='Thriller')
        h6 Thriller
      li
        img(src='http://progression-studios.com/skrn/images/genres/western.png' alt='Western')
        h6 Western
      li
        img(src='http://progression-studios.com/skrn/images/genres/adventure.png' alt='Adventure')
        h6 Adventure
      li
        img(src='http://progression-studios.com/skrn/images/genres/animation.png' alt='Animation')
        h6 Animation
      li
        img(src='http://progression-studios.com/skrn/images/genres/documentary.png' alt='Documentary')
        h6 Documentary
    .clearfix
    .dashboard-container
      h4.heading-extra-margin-bottom Comedies
      .row
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-1.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') The Wild Things Are
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-2.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Central Intelligence
                .circle-rating-pro(data-value='0.6' data-animation-start-value='0.6' data-size='32' data-thickness='3' data-fill='{\
                "color": "#ff4141"\
                }' data-empty-fill='#ffe1e1' data-reverse='true')
                  span(style='color:#ff4141;') 6.0
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-3.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Zoolander No. 2
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-4.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Bad Neighbors 2
                .circle-rating-pro(data-value='0.72' data-animation-start-value='0.72' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 7.2
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-5.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Star Wars: Rogue One
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-6.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') The Imitation Game
                .circle-rating-pro(data-value='0.6' data-animation-start-value='0.6' data-size='32' data-thickness='3' data-fill='{\
                "color": "#ff4141"\
                }' data-empty-fill='#ffe1e1' data-reverse='true')
                  span(style='color:#ff4141;') 6.0
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-7.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Fantastic Beasts
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-8.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Edge of Tomorrow
                .circle-rating-pro(data-value='0.72' data-animation-start-value='0.72' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 7.2
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-9.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Allegiant
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-10.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Lo and Behold
                .circle-rating-pro(data-value='0.6' data-animation-start-value='0.6' data-size='32' data-thickness='3' data-fill='{\
                "color": "#ff4141"\
                }' data-empty-fill='#ffe1e1' data-reverse='true')
                  span(style='color:#ff4141;') 6.0
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-11.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Drive
                .circle-rating-pro(data-value='0.86' data-animation-start-value='0.86' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 8.6
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
        .col-12.col-md-6.col-lg-4.col-xl-3
          .item-listing-container-skrn
            a(href='dashboard-movie-profile.html')
              img(src='http://progression-studios.com/skrn/images/demo/listing-12.jpg' alt='Listing')
            .item-listing-text-skrn
              .item-listing-text-skrn-vertical-align
                h6
                  a(href='dashboard-movie-profile.html') Nightcrawler
                .circle-rating-pro(data-value='0.72' data-animation-start-value='0.72' data-size='32' data-thickness='3' data-fill='{\
                "color": "#42b740"\
                }' data-empty-fill='#def6de' data-reverse='true')
                  span(style='color:#42b740;') 7.2
              // close .item-listing-text-skrn-vertical-align
            // close .item-listing-text-skrn
          // close .item-listing-container-skrn
        // close .col
      // close .row
      ul.page-numbers
        li
          a.previous.page-numbers(href='#!')
            i.fas.fa-chevron-left
        li
          span.page-numbers.current 1
        li
          a.page-numbers(href='#!') 2
        li
          a.page-numbers(href='#!') 3
        li
          a.page-numbers(href='#!') 4
        li
          a.next.page-numbers(href='#!')
            i.fas.fa-chevron-right
    // close .dashboard-container
// close #sidebar-bg
// Required Framework JavaScript
script(src='js/jquery-3.3.1.min.js')
// jQuery
script(src='js/popper.min.js' defer='')
// Bootstrap Popper/Extras JS
script(src='js/bootstrap.min.js' defer='')
// Bootstrap Main JS
// All JavaScript in Footer
// Additional Plugins and JavaScript
script(src='js/navigation.js' defer='')
// Header Navigation JS Plugin
script(src='js/jquery.flexslider-min.js' defer='')
// FlexSlider JS Plugin
script(src='js/jquery-asRange.min.js' defer='')
// Range Slider JS Plugin
script(src='js/circle-progress.min.js' defer='')
// Circle Progress JS Plugin
script(src='js/afterglow.min.js' defer='')
// Video Player JS Plugin
script(src='js/script.js' defer='')
// Custom Document Ready JS
script(src='js/script-dashboard.js' defer='')
// Custom Document Ready for Dashboard Only JS
